{% extends "base.html" %}
{% load custom_tag %}
{% block contnet %}
    <div class="row">
        <div class="col-md-1">
            <ul class="nav nav-pills nav-stacked" style="position: fixed;">
                {#<li>aaa</li>#}
                {% for classify in classifylist %}
                    <li style="padding-bottom: 5.5px;padding-top: 5.5px;background-color: white;width: 150px">
                        <span style="background-color: greenyellow;width: 5px;height: 40px;display: block;position: absolute;"></span>
                        <a href="/classify/index/{{ classify.typeid }}/0/0">{{ classify.typename }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-10" style="margin-left: 40px;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <span>
                            <button class="navbar-brand btn btn-default btn-lg dropdown-toggle" type="button"
                                    data-toggle="dropdown" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true">
                            {{ curr_select.0.currname }}<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for child in childlist %}
                                <li style="border-bottom:1.5px solid greenyellow;height: 40px;"><a
                                        href="/classify/index/{{ curr_select.0.typeid }}/{{ child.childid }}/0"
                                        style="height: 100%;font-size: 18px">{{ child.childname }}</a></li>
                            {% endfor %}

                        </ul>
                    </span>
                        <span>
                            <button class="navbar-brand btn btn-default btn-lg dropdown-toggle" type="button"
                                    data-toggle="dropdown" id="dropdown1Menu2" aria-haspopup="true" aria-expanded="true"
                                    style="margin-left: 200px">{{ curr_select.0.sortname }}<span
                                    class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown1Menu2" style="margin-left: 310px">
                                {% for sort in sort_list %}
                                    <li style="border-bottom:1.5px solid greenyellow;height: 40px;"><a
                                            href="/classify/index/{{ curr_select.0.typeid }}/{{ curr_select.0.childid }}/{{ sort.sortid }}"
                                            style="height: 100%;font-size: 18px">{{ sort.sortname }}</a></li>
                                {% endfor %}
                            </ul>
                    </span>

                    </div>
                </div>
            </nav>

            {% for goods in selectgoods %}
                <div class="media" style="margin-bottom: 100px">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{ goods.productimg }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ goods.productname }}</h4>
                        {% if  goods.isxf %}
                            <span style="color: red">精选</span>
                        {% endif %}
                        <p style="color: red">¥ &nbsp; {{ goods.price }}</p>

                        <span class="minus_goods" id="{{ goods.id }}_minus" style="display: inline-block;
                        text-align: center;
                        font-size: 25px;
                        color: #ff8000;
                        background-color: #fff;
                        width: 28px;
                        height: 28px;
                        line-height: 25px;
                        cursor:pointer;
                        border: 1.5px solid #bfbfbf;
                        border-radius: 50% 50% 50% 50%;">-</span>
                        &nbsp
                        {% if goods.id|stringformat:"02i" in goods_dict %}
                        <span class="number_goods" id="{{ goods.id }}_number">{% func goods_dict goods.id %}</span>
                            {% else %}
                    <span class="number_goods" id="{{ goods.id }}_number">0</span>
                    {% endif %}
                        &nbsp;
                         <span class="add_goods" id="{{ goods.id }}_add" style="display: inline-block;
                        text-align: center;
                        font-size: 25px;
                        color: #ff8000;
                        background-color: #fff;
                        width: 28px;
                        height: 28px;
                        line-height: 25px;
                        border: 1.5px solid #bfbfbf;
                        cursor:pointer;
                        border-radius: 50% 50% 50% 50%;">+</span>

                    </div>

                </div>
            {% endfor %}


        </div>
    </div>
    <!-- Large button group -->

{% endblock %}

{% block linkescript %}
    <script>
        document.onselectstart=new Function("return false");
        function submit_ajax(id, number) {
            $.ajax({
                url:"/cart/select_goods/",
                data: {"goods_id": id, "number": number},
                success:function (data) {
                    alert("success")
                }
            })
        }

        $(".add_goods").click(function () {
            var curr_id = this.id;
            var goods_id = curr_id.split("_")[0];
            var number_id = goods_id + "_number";
            var number = document.getElementById(number_id).innerText;
            var intnumber = parseInt(number);
            document.getElementById(number_id).innerText = intnumber + 1;
            submit_ajax(goods_id, intnumber + 1)
        });
     $(".minus_goods").click(function () {
            var curr_id = this.id;
            var goods_id = curr_id.split("_")[0];
            var number_id = goods_id + "_number";
            var number = document.getElementById(number_id).innerText;
            var intnumber = parseInt(number);
            if (intnumber !== 0){
              document.getElementById(number_id).innerText = intnumber - 1;
              submit_ajax(goods_id, intnumber - 1)
            }else{
                alert("购物车暂无商品！");
                return false
            }
        })
    </script>
{% endblock %}


